*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #e8e8e8;
    overflow-x: hidden
}

/********* HEADER *********/
#header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 10px;
}

/**** Navigation ****/
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position:fixed;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 2
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 100px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover {
    opacity: 1;
    background-color: pink;
    transition: 0.5s;
    padding: 20px;
}
.logo {
    width: 200px;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    padding-left: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-left: 5%;
}

.header-text h3{
    font-size: 30px;
    margin-left: 6%;
}

.header-text p {
    margin-left: 15%;
}

/**** hero image ****/
.selfphoto {
    float: right;
    margin-right: 15%;
    margin-top: 10%;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 10px 15px 1px 5px #3f464c;
}
/**** ABOUT ****/
#about {
    padding: 80px 0px;
    background-color: #cad2c7;
}
.title {
    padding: 100px 0px;
    text-align: center;
    font-size: 50px;
}

.about-img img{
    width: 400px;
    height: 600px;
    margin-left: 5%;
    box-shadow: 10px 15px #262626;
    display: flex;
}
.about-right {
    width: 95%;
}
.about-right h2{
    margin-left: 35%;
    margin-top: -30%;
    font-size: 30px;
}

.about-right p{
    margin-left: 35%;
    font-size: 20px;
}

/**** Button ****/

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 15%;
    margin-left: 15%;
}

.button a {
    border: solid  black 2px;
    background-color: #282828;
    padding: 1rem 5rem;
    color: #000000;
    border-radius: 10px;
    font-size: 2rem;
    margin: 1rem 0;
    text-decoration: none;
}

.button a:hover {
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #1b2630 0%, #876c91 100%);
    color: #0066cc;
    border: solid 2px #0066cc;
}

/**** Works ****/

#work {
    background-color: #838999;
}
.title2 {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
}

table {
    padding: 80px;
    width: 100%;
}

table img {
    width: 400px;
    height: 500px;
}

tr h3{
    width: 100%;
    color: #262626;
    padding-top: 5%;
    margin-left: 25%;

}

img[type="box"] {
    border: solid white 5px;
    box-shadow: 0 2px 7px lightpink;
    position: relative;
}

.works-download {
    margin-left: 25%;
    text-decoration: none;
    border: solid  black 2px;
    background-color: #282828;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 1rem;
}

.works-download:hover {
    transition : 800ms;
    padding: 10px 20px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #1b2630 0%, #876c91 100%);
    color: #0066cc;
    border: solid 2px #0066cc;
}

/**** Contact ****/
.contact-content{
    padding: 100px 0;
    color: #fff;
    text-align: center;
    background: #1b2630;
  }
  .contact-content .contact-title h4{
    font-size: 40px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 20px;
  }
  .contact{
    max-width: 100%;
    margin: auto;
  }
  .contact input,.contact textarea{
    width: 100%;
    padding: 30px;
    border: 0;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .contact .submit{
    width: auto;
    background-color: #876c91;
    padding: 10px 40px;
    font-weight:bold ;
    font-size: 18px;
  }
  .contact .submit:hover{
    transform: scale(1.1);
    background: #3f464c;
    transition: 0.5s;
    cursor: pointer;
  }
  #msg{
    color: #fff;
    font-size: 20px;
    margin-top: -8px;
    display: block;
  }
  
/* Socials*/
  .mySocials a {
    text-decoration: none;
    color: #fff;
  }

  .mySocials a:hover {
    color: #0066cc;
    transition: 0.6s;
}
.mySocials a:active {
    color: #FDE581;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logo {
        width: 100px; 
    }

    nav ul li {
        margin: 10px 30px; 
    }


    .header-text, .about-right {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    
    .header-text h1, .about-right h2 {
        font-size: 24px; 
        text-align: center;
    }
    #about {
        padding: 40px 0;
    }

    table {
        display: block;
        width: 100%;
    }

    table img {
        width: 90%; 
        height: auto; 
        margin: 0 auto; 
    }

    table td {
        display: block;
        width: 100%;
        text-align: center; 
        padding: 10px 0; 
    }

    .works-download {
        display: inline-block; 
        margin: 10px 0; 
    
    }
    .header-text p, .about-right p {
        font-size: 20px; 
    }

    .selfphoto, .about-img img {
        width: 50; /* Make images responsive */
        height: 50;
        margin: 20px auto; 
    }

    .about-left,
    .about-right {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .about-img img {
        width: 80%; 
        height: auto; 
        margin: 0 auto; 
    }

    .about-right h2,
    .about-right p {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .button {
        flex-direction: column;
        align-items: center;
        margin-top: 30px; 
    }

    .button a {
        padding: 10px 20px; 
        font-size: 16px; 
        margin: 10px auto; 
        display: block; 
        text-align: center; 
    }


    table, table img {
        width: 100%; /* Make table and images responsive */
        height: auto;
    }

    nav ul {
        flex-direction: column;
        align-items: center; 
    }

    .contact input, .contact textarea {
        padding: 15px;
    }
}

@media (max-width: 1024px) {
    .logo {
        width: 100px; 
    }

    nav ul li {
        margin: 10px 30px;
    }


    .header-text, .about-right {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px; 
        text-align: center;
    }
    
    .header-text h1, .about-right h2 {
        font-size: 24px; 
        text-align: center;
    }
    #about {
        padding: 40px 0;
    }

    table {
        display: block;
        width: 100%;
    }

    table img {
        width: 90%; 
        height: auto; 
        margin: 0 auto; 
    }

    table td {
        display: block;
        width: 100%;
        text-align: center; 
        padding: 10px 0; 
    }

    .works-download {
        display: inline-block; 
        margin: 10px 0; 
    
    }
    .header-text p, .about-right p {
        font-size: 20px; 
    }

    .selfphoto, .about-img img {
        width: 50; /* Make images responsive */
        height: 50;
        margin: 20px auto; 
    }

    .about-left,
    .about-right {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .about-img img {
        width: 80%; 
        height: auto; 
        margin: 0 auto; 
    }

    .about-right h2,
    .about-right p {
        margin-left: 0;
        margin-top: 20px;
    }

    .button {
        flex-direction: column;
        align-items: center;
        margin-top: 30px; 
    }

    .button a {
        padding: 10px 20px; 
        font-size: 16px; 
        margin: 10px auto; 
        display: block; 
        text-align: center; 
    }


    table, table img {
        width: 100%;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .contact input, .contact textarea {
        padding: 15px;
    }
}

